@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center mt-5">
    <h1 class="display-2  fw-bold">Welcome</h1>
    <p class="lead">Your Personal Life Tracker</p>
    <b>Track Your Mood , Study , Savings, Fitness, Sleep , & More </b>
    <br><br>
    <p>Start Your Journey With LifeMirror </p>
    <p>Click Button to Start the Journey</p>
    <a class="btn btn-primary" asp-page="/DataEntryForm">Start Your Journey Here &#x1F607;</a>
    <img src="~/images/mirror.png"
         class="mt-4"
         width="150" />

    

</div>
